extends layout 

block layout-content 
  .content 
  .about 
    img.home-image(src="/images/basketball-paint.png")
    //
    p.description  This website is built around basketball APIs to keep fans of the NBA up to date with the latest news and live game scores in the NBA. This website ever expanding and will be adding more APIs and features to keep the die-hard and casual fans a place to get all the information about what happening in the NBA world.