extends layout 

block layout-content 
  .content
    h1.page-title Scores
    each s in score 
      .scoreboard
        .team.team-home
          h4.team-name #{s.home_team}
          if s.completed
            p.team-score #{s.scores[0].score}
          else
            p.team-score 0
        .vs
          if s.completed
            p.game-status Final
          else
            p.game-status Upcoming
        .team.team-away
          h4.team-name #{s.away_team}
          if s.completed
            p.team-score #{s.scores[1].score}
          else
            p.team-score 0
